body {
    background-color: azure;
}

#heading1{
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    border: 5px solid darkgray;
    padding: 10px;
    margin: 10px;
    text-align: center;
}


#heading2{
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    border: 5px solid darkgray;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#heading3{
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    border: 5px solid darkgray;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

#heading4{
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    border: 5px solid darkgray;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

table, td, th{
    border: 1px solid black;
    border-style: solid;
    padding: 20px;
    margin: 20px;
}

.flex-wrap{
    display: flex;
    justify-content: center;
    background-color: darkgray;
}

.flex-wrap > div {
    padding: 50px;
    margin: 30px;
    background-color: cornflowerblue;

}

iframe {
    width: 1000px;
    height: 500px;


}

.video{
    display: flex;
    justify-content: center;
}

.list{
    display: flex;
    justify-content: center;
}

